test {
    /*#1c2124*/
    color: #424c55; /*rgba(66, 76, 85, 0.5);*/
    color: #2e86ab;
    color: #084c61;
    color: #a1d2ce;
    color: #e7ecef;
}

/*Avoid dotted outline when focusing*/
a:active,
a:focus,
input:focus {
    border: 0;
    outline: 0;
}
input::-moz-focus-outer {
    border: 0;
    }
button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

html {
    box-sizing: border-box;
    background: #424c55;
    font-family: 'helvetica neue';
    font-size: 28px;
    font-weight: 200;
}

body{
	font: 11px 'Open Sans', sans-serif;
	color: #ecebe4;
	text-align:center;
    background-color: #424c55;
    padding: 3em;
    margin: 0;
}

.player {
    height:50%;
}

.viewer {
    width: 100%;
        box-shadow: 2px 4px 4px #1e2c2a;
}

.icon {
    margin-left: 10px;
}

button {
    margin-right: 5px;
    margin-left: 5px;
}

.toggle {
        margin-right: 0px;
}

.player__controls {
    /*background-color: #a1d2ce;*/
    /*background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;*/
    background: transparent url("https://subtlepatterns.com/patterns/dark_embroidery.png") repeat scroll 0% 0%;
}

.flexbox {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 5px 10px 5px;
}

.player__slider {
    width: 30%;
    background: #2e86ab;
    margin: 5px;
}

/*Video timeline*/
/*Takes grey line in middle away*/
input[type=range]::-moz-range-track {
  background: #2e86ab;
}

input[type=range]::-moz-range-thumb {
  background: #084c61;
  border: none;
  width: 10px;
  height: 24px;
  border-radius: 0px;
  cursor: pointer;
}

button {
    background: #2e86ab;
    box-shadow: 0 3px #084c61;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 4px 8px;
    letter-spacing: 1px;
    font-weight: 900;
}

.progress {
    background: #2e86ab;
    height: 20px;
    width: 100%;
    position: relative;
}

.progress__filled {
    position: relative;
    background: #084c61;
    height: 20px;
    width: 0%;
    transition: all 0.8s ease-out;
}

/*
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
*/